.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.gitignore
.dockerignore
.idea/
.vscode/
*.swp
*.swo
tests/
test_files/
Taskfile*.yaml
README.md
Dockerfile
.DS_Store
.env
*.egg-info/